Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.2
SQLAlchemy==2.0.31
python-dotenv==1.0.1
# Asegúrate de que las versiones coincidan con las que tenías
# Si no estás seguro, puedes usar esta lista limpia y debería funcionar

